.avatarCart{
  width: 100vw;
  height: 275px;
  padding: 48px 700px 46.6px 700px;
  background-color: #f0f0f0;
  &__avatar{
    width: 130.5px;
    height: 130.5px;
    border: solid 5px #d5d5d5;
    background-color: #fff;
    border-radius: 50%;
    padding:20px 20px 20px 20px ;
  }
  &__name{
    width: 110px;
    height: 34px;
    margin: 15.9px 14.2px 0 10.3px;
    font-family: BYekan ;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.48px;
    text-align: center;
    color: #4166b7;
  }
}