.HomePage {
    display: flex;
    height: calc(100vh - 87px);

    .homeImg {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 425px;
            height: 508px;
            /* margin: 75px 109px 0 100px; */
            object-fit: contain;
        }
    }

    .searchSection {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 100px;

        .Box {
            width: 650px;
            height: 62px;
            padding: 11px 20px 11px 12px;
            border-radius: 14px;
            border: solid 1px rgba(112, 112, 112, 0.39);
            background-color: #fff;
            margin: 10px 0 10px 10px;
        }

        h1 {
            width: 644px;
            height: 66px;
            font-family: BYekan;
            font-size: 35px;
            line-height: 1.51;
            text-align: right;
            color: #100f0f;
        }

        h3 {
            width: 425px;
            height: 40px;
            /* margin: 8px 91px 30px 140px; */
            font-family: BYekan;
            font-size: 20px;
            line-height: 1.5;
            text-align: right;
            color: #100f0f;
            margin: 5px;
        }

        .companyLogos {
            display: flex;
            justify-content: space-between;
            width: 100%;

            // .companyLogo {
            //     width: 93px;
            //     height: 30px;
            //     object-fit: contain;
            //     border: solid 1px rgba(112, 112, 112, 0.2);
            // }
        }

        .contactUs {
            width: 100%;
            display: flex;
            justify-content: center;
            .commentBtn {
                width: 170px;
                height: 51px;
                padding: 13px 31px 12px 20px;
                border-radius: 10px;
                border: solid 1px #707070;
                background-color: #ffa81f;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.Box {
    width: 100%;
    height: 100%;
    padding: 11px 20px 11px 12px;
    // border-radius: 14px;
    // border: solid 1px rgba(112, 112, 112, 0.39);
    // background-color: #fff;
    // margin: 10px 0 10px 10px;
}
