.dropdown {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 130px;
    border-radius: 3px;
    transition: all 0.5s;
    z-index: 1031;
    // -webkit-box-shadow: 0 0 5px 1px rgb(89 86 89);
    // -moz-box-shadow: 0 0 5px 1px rgba(89, 86, 89, 1);
    // box-shadow: 0 0 5px 1px rgb(89 86 89);
    // max-height: 400px;
    // overflow-y: auto;

    label{
        display: flex;
        span{
            // rtl
        }
    }
}
